.class-container{
    border: 1px solid red;
    display: flex;
}



.class-container:hover{
    font-size: 1.15rem;
    h3{
        text-decoration: underline;
        transition: 0.3s;
    }
}

.info-container{
    width: 50%;
    border: 1px solid red;
}

.class-name-container, .class-type{
text-align: center;
}

.img-container{
    width: 50%;
}

.class-details-container{
    display: flex;
}

.class-bold{
    text-emphasis: bold;
}

.class-location-times, .intensity-attendees-container{
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    width: 50%;
    justify-content: space-between;
}

.class-location-times p, .intensity-attendees-container p{
    margin: 1.25% 0.75%;
    padding: 0.75%;
}

.class-bold{
    font-weight: bold;
}

.img-container{
    background-color: red;
    background-size: 1000px;
    background-repeat: repeat-x;
    background-image: url('https://assets.wallpapersin4k.org/uploads/2017/04/Men-Fitness-Wallpaper-1.jpg');
    background-position:center;
    color: rgb(255, 255, 255);
}


@media(max-width: 620px) {
    .class-container{
        background-color: red;
        background-size: 1000px;
        background-repeat: repeat-x;
        background-image: url('https://assets.wallpapersin4k.org/uploads/2017/04/Men-Fitness-Wallpaper-1.jpg');
        background-position:center;
        color: rgb(255, 255, 255);
    }

    .info-container h3{
        background-color: black;
    }

    .class-details-container{
        display: flex;
        flex-direction: column;
    }

    .class-location-times, .intensity-attendees-container{
        width: 100%;
    }

    .img-container{
        display: none;
    }

    .info-container{
        width: 100%;
        text-align: center;
    }

    .class-location-times, .intensity-attendees-container{
        border: none;
    }
}