.class-container{
    border: 1px solid red;
    display: flex;
}



.class-container:hover{
    font-size: 1.15rem;
    h3{
        text-decoration: underline;
        transition: 0.3s;
    }
}

.info-container{
    width: 50%;
    border: 1px solid red;
}

.img-container{
    width: 50%;
}

.class-details-container{
    display: flex;

}

.class-location-times, .intensity-attendees-container{
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    width: 50%;
    justify-content: space-between;
}

.class-location-times p, .intensity-attendees-container p{
    margin: 1.25% 0.75%;
    padding: 0.75%;
}