.footer{
    box-sizing: border-box;
    background-color: #042C4F;
    display: flex;
    align-items: flex-end;
}

.footer-nav{
    display: flex;
    justify-content: space-between;
    height: 10vh;
    width: 100%;
    margin: 0% 10%;
}

.footer-nav-item{
    color: rgb(209, 189, 189);
    text-decoration: none;
}

.disclaimer-container{
    width: 15%;
    font-size: .75rem;
}

.footer-nav img{
    height: 100%;
}

.footer-links{
    display: flex;
    flex-direction: column;
}

.footer-links a{
    margin: 3% 0;
}

.footer-nav .muscle-arm{
    font-size: 4rem;
}



@media(max-width: 620px) {
    .footer-nav{
        height: auto;
        flex-direction: column;
        justify-content: flex-start;
    }

    .footer-nav h4{
        margin: 5%;
    }

    .disclaimer-container{
        width: 50%;
    }

}